<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>

    <link rel="stylesheet" href="/static/style/index.css">
</head>

<body>

    <%- include('blocks/header.html') %>

        <main>

            <div class="container">

                <div class="section-header">
                    <h1 class="subtitle">Authors</h1>

                    <span></span>
                    
                    <div class="button">
                        <a class="button-link" href="/authors/new">Add author</a>
                    </div>
                </div>

                <% if (authors.length === 0)  { %>
                    <p>There are no authors registered yeet!</p>
                <% } else { %>

                <table class="table">
                    <thead class="table-header">
                        <tr>
                            <% for (let key in authors[0]) {%>
                                <th class="table-header-field">
                                    <%= key %>
                                </th>
                            <% } %>
                            <th class="table-header-field">
                                link
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <% for (let author of authors) {%>
                            <tr>
                                <% for (let key in author) {%>
                                    <td class="table-body-field">
                                        <%= author[key] %>
                                    </td>
                                <% } %>
                                <td class="table-body-field">
                                    <a class="link" href="/authors/<%= author.id %>">See author</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

                <% } %>
            
            </div>

        </main>

</body>

</html>