<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>

    <link rel="stylesheet" href="/static/style/index.css">
</head>

<body>

    <%- include('blocks/header.html') %>

        <main>

            <table class="table container">
                <thead class="table-header">
                    <tr>
                        <% for (let key in authors[0]) {%>
                            <th class="table-header-field">
                                <%= key %>
                            </th>
                        <% } %>
                        <th class="table-header-field">
                            link
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <% for (let author of authors) {%>
                        <tr>
                            <% for (let key in author) {%>
                                <td class="table-body-field">
                                    <%= author[key] %>
                                </td>
                            <% } %>
                            <td class="table-body-field">
                                <a class="link" href="/authors/author/<%= author.id %>">See author</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

        </main>

</body>

</html>