<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>

    <link rel="stylesheet" href="/static/style/index.css">
</head>

<body>

    <%- include('blocks/header.html') %>

        <main>

            <div class="container">
                
                <h2 class="subtitle">Welcome to the library</h2>

                <p>
                    Our library is a treasure trove of knowledge, filled with captivating books and remarkable authors.
                    Whether you're an avid reader or a curious learner, we have something for everyone.
                </p>
                <p>
                    Dive into the enchanting world of literature and explore a vast collection of books covering various
                    genres, including classics, mysteries, science fiction, romance, and more. Immerse yourself in
                    captivating stories, embark on thrilling adventures, and discover new perspectives through the pages
                    of
                    our carefully curated books.
                </p>
                <p>
                    Our esteemed authors have crafted masterpieces that will transport you to different eras, ignite
                    your
                    imagination, and leave a lasting impact on your soul. From celebrated contemporary writers to
                    timeless
                    literary giants, their works showcase the power of words and the beauty of storytelling.
                </p>
                <p>
                    Join us on this literary journey as we celebrate the written word, honor the brilliance of authors,
                    and
                    cherish the joy of reading. Visit our library today and embark on an extraordinary quest for
                    knowledge,
                    inspiration, and pure literary bliss.
                </p>
                <p>
                    Feel free to navigate our Books and Authors pages, they have quite a lot of content to investigate!
                </p>

            </div>

        </main>

</body>

</html>