<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>

    <link rel="stylesheet" href="/static/style/index.css">
</head>

<body>

    <%- include('blocks/header.html') %>

        <main>

            <div class="container">
               
                <h1 class="subtitle">Author creation form</h1>

                <% if (error) { %><p class="red-text">There was an error inserting the data. Please try again.</p><% } %>

                <form action="/authors/new" method="POST">
                    <div class="form-container">

                        <div class="fields-container">

                            <div class="field-container">
                                <label class="label" for="name">Name:</label>
                                <input placeholder="Author's name" type="text" class="input" name="name" required>
                            </div>

                            <div class="field-container">
                                <label class="label" for="name">Surname:</label>
                                <input placeholder="Author's surname (if has...)" type="text" class="input"
                                name="surname">
                            </div>

                        </div>

                        <button class="button-link" type="submit">Add author!</button>

                    </div>
                </form>

            </div>

        </main>

</body>

</html>