@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-1: #077187;
    --color-2: #074F57;
    --color-3: #F7934C;
    --color-4: #FFC15E;
    --red: #eb2b2b;
    --white: #f0f0f0;
    --black: #151515;
    --gray: #afafaf;
}

body { 
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--white);
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-bottom: 40px;
}

button {
    border: none;
    cursor: pointer;
}

/* Globals */

.title {
    color: var(--black);
    font-weight: 900;
}

.subtitle {
    color: var(--color-3);
    font-weight: 900;
}

.red-text {
    color: var(--red);
    font-weight: 300;
}

.light-link {
    color: var(--white);
    transition: color .3s ease;
    cursor: pointer;
    font-weight: 700;
}

.light-link:hover {
    color: var(--color-4);
}

.link {
    color: var(--color-3);
    transition: color .3s ease;
    cursor: pointer;
    font-weight: 700;
}

.link:hover {
    color: var(--color-4);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.button-link {
    padding: 10px 15px;
    background-color: var(--color-3);
    color: var(--white);
    font-weight: 800;
    text-transform: capitalize;
    border-radius: 5px;
    transition: background-color .3s ease;
}

.button-link:hover {
    background-color: var(--color-4);
}

.margin-top {
    margin-top: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section-header span {
    flex: 1;
    background-color: var(--gray);
    height: 1px;
}

/* Header */

.header {
    min-height: 110px;
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    margin-bottom: 40px;
}

.header .title {
    color: var(--white);
    border: 2px dashed var(--color-4);
    transform: rotate(8deg);
    background-color: var(--color-2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.header .navigation {
    display: flex;
    gap: 20px;
}

.header .navigation .light-link {
    font-size: 18px;
}

/* Authors */

.table {
    border: 1px solid var(--color-2);
    border-collapse: collapse;
    width: 100%;
}

@media (max-width: 768px) {
    .table {
        font-size: 12px;
    }
}

.table .table-header-field {
    color: var(--white);
    text-transform: capitalize;
}

.table .table-header-field, .table .table-body-field {
    border: 1px solid var(--color-2);
    padding: 10px;
    text-align: center;
}

.table .table-header {
    background-color: var(--color-1);
}

.table .table-body tr:nth-child(even) {
    background-color: rgba(7, 113, 135, .2);
}

/* Book */

.book-characteristics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Form */

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fields-container {
    display: flex;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

@media (max-width: 768px) {
    .fields-container {
        flex-direction: column;
    }
}

.field-container {
    flex: 1;
    display: flex;
    gap: 10px;
    width: 100%;
    height: fit-content;
}

.label {
    width: 20%;
    min-width: fit-content;
    padding: 10px;
    background-color: var(--color-3);
    color: var(--white);
    font-weight: 800;
    text-align: center;
}

.input {
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.field-container .input {
    flex: 1;
}

.form-container button {
    min-width: 200px;
    margin: auto 0 0 auto;
}

/* Filter input */

.filter-input {
    margin-bottom: 20px;
}